<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css'/>
    </head>

    <body>

        <% include templates/Navigation.ejs %>
        <h1>About Page</h1>
        <p>Created by Kyle Sparrow to act as a Web server for my modified ZXing Android Application.
        The goal is to allow users to communicate via encrypted QR codes without having to be
        In the same room as the person to directly scan their QR code. Right now this web server
        is not comepltly secure. Hopefully It will be in the future</p>

    </body>
</html>
