
<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>

<body>
<% include templates/Navigation.ejs %>

<h1>Chat Page</h1>
<p>This is the Chat history for a specific User Page</p>

<img src="/001.JPG" alt="test" height="20" width="20">
</body>

</html>
