<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <h1><%= title %></h1>
    <p>Welcome to the QR Webserver. Login and follow the links to explore</p>

    <p>Login:</p>

    <form method = "POST"action="/" id="log-form">
      <input type="text" name="name" value ="name"/>
      <input type="text" name="password" value="pass"/>
      <button type="submit">Submit</button>
    </form>

    <a href="/register">Need to Register?</a>


  </body>
</html>
